.ticket__container {
  position: absolute;
  width: 502px;
  left: 355px;
  right: 103px;
  top: 226px;
}

.ticket__list {
  position: relative;
  list-style: none;
}

.ticket__block {
  position: relative;
  display: flex;
  flex: 0 0 502px;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin-bottom: 20px;
  height: 184px;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.ticket__header {
  display: flex;
  flex: 0 0 36px;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  margin: 20px 50px 0 20px;
}

.ticket__price {
  position: relative;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
}

.ticket__complogo {
  position: relative;
  float: right;

}

.ticket__options {
  display: flex;
  flex: 0 0 39px;
  flex-direction: row;
  justify-content: space-around;
}

.ticket__route,
.ticket__duration,
.ticket__stops {

}
